<h1>一覧画面</h1>
<%= link_to '新規投稿', new_t_clone_path %>

<% @contents.each do |tweet| %>
<%= tweet.content %>
<%= link_to '編集', edit_t_clone_path(tweet.id) %>
<%= link_to '削除', t_clone_path(tweet.id), method: :delete %> <!--confirmを実装する-->
<% end %>
